*, ::after, ::before {box-sizing: border-box;margin: 0;font-family:"Inter UI", "Segoe UI", sans-serif;font-size: 16px}
.container{width: 1200px;margin: 0 auto;}

h1,h2,h3,h4,h5,h6{margin: 10px 0}
h1,.h1{font-size: 32px}
h2,.h2{font-size: 24px}
h3,.h3{font-size: 18px}
h4,.h4{font-size: 15px}
h5,.h5{font-size: 13px}
h6,.h6{font-size: 10px}
img{max-width: 100%}
.row{display: flex}

.col-1{max-width: 100%;width: 10%;}
.col-2{max-width: 100%;width: 20%;}
.col-3{max-width: 100%;width: 30%;}
.col-4{max-width: 100%;width: 40%;}
.col-5{max-width: 100%;width: 50%;}
.col-6{max-width: 100%;width: 60%;}
.col-7{max-width: 100%;width: 70%;}
.col-8{max-width: 100%;width: 80%;}
.col-9{max-width: 100%;width: 90%;}
.col-10{max-width: 100%;width: 100%;}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10{padding: 0 10px; margin: 0 10px;}
.m-0-auto{margin: 0 auto;}
.m-t-5{margin-top: 5em}
.m-t-15{margin-top: 15em}

button{cursor: pointer}
input[type=text],input[type=number],input[type=email],input[type=password],select{padding: 10px 20px; border: 1px solid #2FA2F5; border-radius: 5px;width: 100%}
input[type=submit] { cursor: pointer }
.btn{padding: 10px 35px; border-radius: 50px;font-family: "Dank Mono",monospace;margin: 2em 0;}
.min-btn{padding: 5px 10px; border-radius: 5px;font-family: "Dank Mono",monospace;}

.btn-primary{background-color: #2FA2F5; border: 1px solid #2FA2F5; color: #fff;}
.btn-primary:hover{background-color: #2177b3; border: 1px solid #2177b3; color: #fff;}
.btn-secondary{border: 1px solid #2FA2F5; color: #2FA2F5; background-color: #fff;}
.btn-dark{border: 1px solid #282828; color: #f5f4e9; background-color: #282828;}
.btn-dark:hover{border: 1px solid #131313; color: #f5f4e9; background-color: #131313;}
.btn-danger{border: 1px solid #ff212d; color: #f5f4e9; background-color: #d51c26;}
.btn-danger:hover{border: 1px solid #bc1821; color: #f5f4e9; background-color: #bc1821;}
.btn-success{border: 1px solid #61ff51; color: #131313; background-color: #61ff51;}
.btn-success:hover{border: 1px solid #46b93b; color: #131313; background-color: #46b93b;}
.text-success{color: #46b93b;}
.text-danger{color: #bc1821;}
.text-primary{color: #2FA2F5;}
.text-gold{color: goldenrod;}

a{text-decoration: none;color: #4745f5;}
a:hover{color: #2FA2F5;}
.form-group{display: flex; clear: both;width: 100%;margin: 20px 0; }
.form-group div{display: block}
.clearfix{clear: both;}
.logo{font-family: "Inter UI Black",sans-serif;padding: 15px 25px; background: #4745f5; background: linear-gradient(45deg,#2FA2F5,#4745f5); text-align: center;color: #fff}
.form-box{border: 1px solid black;padding:0.5em 1em;}

.pull-right{float: right}
.pull-left{float: left}
.logged-in{margin: 0;padding: 0;}
.logged-in h6,.item-price{font-family: monospace; font-size: 14px; border-top:2px solid goldenrod;}
.item-price{text-align: center; font-size: 17px}
code{padding: 2px 4px; background: #fa26326e; font-family: "Dank Mono",monospace}

footer{color: #ffffff;background: #282828;}
footer .info{padding: 5em 10em;border-top: 2px solid goldenrod;}
footer a{color: #ffffff}
footer a:hover{color: goldenrod}
.foot-bottom{background: #161616;padding: 2em 5em}
.overflow{overflow-x: auto;}
table{border-collapse: collapse;width: 100%;}
.dataTable img{width: 100px}
thead td{background: #4745f5;color: #ffffff;padding: 1em; }
.table-striped tbody tr:nth-of-type(odd) {background-color: rgba(0,0,0,.05);}
.products-grid .big-row{margin: 3em 1em}
tfoot td{background: #4745f5;color: #ffffff;padding: 2em; }
.product-single-table .item-price{border: none}
.text-center{text-align: center}
.dashboard figure img{max-width: 200px;height: 200px;margin: 0 auto;display: block;}
.dashboard .col-3{text-align: center}
figure{margin: 10px 0;}
@media screen and (max-width: 991px){  .container{width: 750px;}  }
@media screen and (max-width: 768px){  .container{width: 550px;}  }
@media screen and (max-width: 480px){  .container{width: 100%;}  }